html{
    height: 100%;
}

body {
    height: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 0 0,0 0, 0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0;
    background-image: radial-gradient(18% 28% at 24% 50%, #B04FFFCC 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #8400fe59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #C573FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #D06DFF9C 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #4EB5FFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #D06DFF9C 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #BF69FFBA 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #B04FFFF5 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #BF69FFBA 24%, #073AFF00 100%),linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
}

#header {
    margin: 20px 40px 20px 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    height: 220px;
    display: flex;
    justify-content: center;
}

#body {
    margin: 20px 40px 20px 40px;
    padding: 30px;
    border-radius: 10px;
    min-height: 300px;
}

.blur {
    background-color: #00000045;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 0;
}

.title {
    font-size: 42px;
    text-align: center;
    margin-bottom: -20px;
}

.subtitle {
    font-size: 26px;
    text-align: center;
}

#showcase {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#maimai-rating {
    background-image: url("images/maimai/rating_base_bronze.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 148px;
    height: 43px;
}

#maimai-rating-number{
    font-size: 25px;
    color: white;
    text-align: right;
    margin-right: 8px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.oxygen-light {
    font-family: "Oxygen", serif;
    font-weight: 300;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", serif;
    font-weight: 700;
    font-style: normal;
}
